.reviews {
  padding-top: 2px;
  padding-bottom: 82px;

  @include vp-1199 {
    padding-top: 43px;
    padding-bottom: 62px;
  }

  @include vp-767 {
    padding-top: 36px;
    padding-bottom: 31px;
  }

  h2 {
    padding-left: 4px;
    width: 100%;
    text-align: center;

    @include vp-1199 {
      transform: translateX(-2px);
    }
  }
}

.reviews__slider {
  margin: 0 auto;
  padding: 37px;
  width: 675px;
  position: relative;

  @include vp-1199 {
    padding: 40px 80px;
    width: 100%;
  }

  @include vp-767 {
    padding: 42px 48px 40px 48px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  width: 100%;
}

.reviews__button {
  margin: 0;
  padding: 0;
  width: 26px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border: none;
  color: var(--color-dark-grey);
  opacity: 1;
  background-color: transparent;

  svg {
    width: 26px;
    height: 32px;
  }

  @include vp-767 {
    width: 15px;
    height: 100%;
    top: 0;
  }

  &--prev {
    left: 0;

    svg {
      transform: rotate(180deg);
    }

    @include vp-1199 {
      left: 40px;
    }

    @include vp-767 {
      left: 15px;
    }
  }

  &--next {
    right: 0;

    @include vp-1199 {
      right: 40px;
    }

    @include vp-767 {
      right: 15px;
    }
  }

  @include hover-focus {
    color: var(--color-resolution-blue);
    filter: drop-shadow(0 0 3px var(--color-resolution-blue));
  }
}
